// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.entry_list, div.corpus_item_list {
    display: table;
    div.entry_header, div.corpus_item_header {
        display: table-row;
        span.entry_cell, span.corpus_item_cell {
            display: table-cell;
            padding-left: 0.25em;
            padding-right: 0.25em;
            font-weight: bold;
        }
    }
    div.entry_item, div.corpus_item {
        display: table-row;
        span.entry_cell, span.corpus_item_cell {
            display: table-cell;
            padding-left: 0.25em;
            padding-right: 0.25em;
        }
    }
}

div#feed_info, div#entry_info, div.info_table {
    display: table;
    div.info_row {
        display: table-row;
        span.info_title {
            font-weight: bold;
            white-space: nowrap;
        }
        span.info_title, .info_value {
            display: table-cell;
            padding-left: 0.25em;
            padding-right: 0.25em;
        }
    }
}

